h2 {
  font-family: 'Dosis', sans-serif;
}

.btn {
  font-family: 'Dosis', sans-serif;
}

.nav-wrapper {
  background-color: #1A237E;
  color: #18FFFF;
}

.brand-logo {
  font-family: 'Exo', sans-serif;
}
