/* 00. FONT FACE ============================================ */

@main-font {
	font-family: norwester;
	src: url(../norwester/norwester.woff);
}

/* 01 Custom Overrides ============================================ */

.container {
	width: 95%;
}

.name-color {
	font-family: 'PT Sans Narrow';
	color: white;
}

.first-name {
	display: block;
	position: relative;
	left: -40px;
	top: 10px;
	font-size: 20px;
	background: none;
	padding: 0;
}

.second-name {
	margin-top: -10px;
	margin-left: 2.5em;
	font-size: 32px;
	font-size: 125% !important;
}


h2 {
  font-family: 'Dosis', sans-serif;
}

.btn {
  font-family: 'Dosis', sans-serif;
}

.nav-wrapper {
  background-color: #0d47a1;
  color: #18FFFF;
}

.brand-logo {
  font-family: 'Exo', sans-serif;
}


/* 02. GENERAL SETTINGS ============================================ */

* {margin: 0; padding: 0;}

p {line-height: 160%;}

a {text-decoration: none; color: #fff; transition: all 0.1s ease-in;}
img {border: 0;}

body {
	background: #fff;
	color: #fff;
	font-family: norwester, PT Sans Narrow, sans-serif;
	font-size: 13px;
	font-weight: 300;
}

.clear {clear: both;}


/* 03. SPEAKERS SETTINGS ============================================ */

#speakers { /* BG for props*/
	padding: 90px 0;
	background: #4593e3;
	text-align: center;
}

#speakers p { /* team paragraph*/
	padding: 20px 0 60px;
	color: rgba(255,255,255, 0.85);
	font-family: norwester;
	font-size: 16px;
	letter-spacing: 0.2px;
}

#speakers h3 { /* MEET THE TEAM */
	font-family: norwester;
	padding: 0 0 15px;
	font-size: 36px;
	text-transform: uppercase;
}

#speakers h4  { /* name tags */
	margin-top: -20px;
	font-size: 32px;
	font-weight: 700;
}

#speakers h4 span { /*Name tags */
	display: block;
	position: relative;
	left: -40px;
	top: 10px;
	font-size: 20px;
	background: none;
	padding: 0;
}

#speakers img { /* circular border */
	width: 100%;
	max-width: 240px;
	border-radius: 50%;
	border: 15px solid transparent;
	box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
	transition: all 0.1s ease-in;
}

#speakers img:hover {
	border: 15px solid #304ffe;
	position: relative;
	z-index: 10;
	transition: all 0.1s ease-in;
}

#speakers span {
	padding: 8px 20px;
	position: relative;
	top: -64px;
	left: -42px;
	display: inline-block;
	background: #4593e3;
	border-radius: 0 16px 16px 0;
	font-size: 16px;
}

/* Member Image Hover Effect */
.hover_img {
  display: none;
}

.john-show {
	color: black;
}

.member-profile:hover .unhover_img{
  display: none;
}

.member-profile:hover .hover_img {
  display: block;
}

#john-click:click .john-show {
	display: inline !important;
}

/* Social Networks Meta */
#speakers li {display: inline-block; padding: 0 6px; font-size: 18px;}
#speakers li a {color: rgba(0,0,0, 0.3); transition: all 0.1s ease-in;}
#speakers li a:hover {color: rgba(0,0,0, 0.7);}

/* Rows Optimization */

.row1 .col-md-3, {
	padding-bottom: 40px;
}

/* Mobile Devices Optimization */
@media (min-width: 568px) and (max-width: 992px) {

	.row .col-md-3, {
		display: inline-block;
		max-width: 50%;
	}

	#speakers img {max-width: 300px;}

}
