/* 00. FONT FACE ============================================ */

@main-font {
	font-family: norwester;
	src: url(../norwester/norwester.woff);
}

/* 01 Custom Overrides ============================================ */

.container {
	width: 90%;
}

.name-color {
	font-family: 'PT Sans Narrow';
	color: black;
}

.name-color:hover {
	text-decoration: none !important;
	background-color: none !important;
}

.first-name {
	display: block;
	position: relative;
	color: white;
	left: -40px;
	top: 10px;
	font-size: 20px;
	background: none;
	padding: 0;
}

.second-name {
	margin-top: -10px;
	margin-left: 2.5em;
	color: white;
	font-size: 32px;
	font-size: 125% !important;
}


h2 {
  font-family: 'Dosis', sans-serif;
}

.btn {
  font-family: 'Dosis', sans-serif;
}

.nav-wrapper {
  background-color: #000000;
  color: #18FFFF;
}

.brand-logo {
  font-family: 'Exo', sans-serif;
}

.collapsible-header {
	border: null;
}

/* 02. GENERAL SETTINGS ============================================ */

.white-border {
	border: 1px solid white;
}

* {margin: 0; padding: 0;}

p {line-height: 160%;}

a {text-decoration: none; color: #fff; transition: all 0.1s ease-in;}
img {border: 0;}


html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background:url('../globe_background.jpg') center center;
  color: #ffffff;
  font-family: norwester, PT Sans Narrow, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  height: 100%;
}

#info {
  background-color: rgba(0,0,0,0.3);
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  border-radius: 3px;
  right: 10px;
  padding: 3px 10px 0 10px;
  margin-top: 130px;
}

#currentInfo {
  width: 270px;
  position: absolute;
  left: 20px;
  top: 63px;
  border-top: 1px solid rgba(255,255,255,0.4);
  padding: 10px;
  margin-top: 130px;
}

a {
  color: #aaa;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.bull {
  padding: 0 5px;
  color: #555;
}

#title {
  position: absolute;
  top: 20px;
  min-width: 270px;
  left: 20px;
  border-radius: 3px;
  font: 27px serif;
  padding: 10px;
  margin-top: 130px;
}

.topic {
  display: none;
  font: 16px sans-serif;
  line-height: 26px;
  height: 20px;
  color: rgba(255, 255, 255, 0.4);
  padding-left: 7px;
  margin-bottom: 10px;
  cursor: pointer;
}

.topic:hover, .topic.active {
  font-size: 23px;
  color: #fff;
}

#ce span {
  display: none;
}

#ce {
  width: 107px;
  height: 55px;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 20px;
  background: url('imgs/ce.png');
}

.clear {clear: both;}

/* 03. SPEAKERS SETTINGS ============================================ */

#speakers { /* BG for props*/
	padding: 25px 0;
	background: #1111111;
	text-align: center;
}

#speakers p { /* team paragraph*/
	padding: 20px 0 60px;
	color: rgba(255,255,255, 0.85);
	font-family: norwester;
	font-size: 16px;
	letter-spacing: 0.2px;
}

#speakers h3 { /* MEET THE TEAM */
	font-family: norwester;
	padding: 0 0 15px;
	font-size: 36px;
	text-transform: uppercase;
}

#speakers h4  { /* name tags */
	margin-top: -20px;
	font-size: 32px;
	font-weight: 700;
}

#speakers h4 span { /*Name tags */
	display: block;
	position: relative;
	left: -40px;
	top: 10px;
	font-size: 20px;
	background: none;
	padding: 0;
}

#speakers img { /* circular border */
	width: 100%;
	max-width: 240px;
	border-radius: 50%;
	border: 15px solid transparent;
	box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
	transition: all 0.1s ease-in;
}

#speakers img:hover {
	border: 15px solid #ffffff;
	position: relative;
	z-index: 10;
	transition: all 0.1s ease-in;
}

#speakers span {
	padding: 8px 20px;
	position: relative;
	top: -64px;
	left: -42px;
	display: inline-block;
	background: #cccccc;
	border-radius: 0 16px 16px 0;
	font-size: 16px;
}


/* Member Image Hover Effect */
.hover_img {
  display: none;
}

.john-show {
	color: black;
}

.member-profile:hover .first-name, .second-name{
	text-decoration-color: red !important;
}

.member-profile:hover .second-name{
	text-decoration-color: red;
	color: white;
}

.member-profile:hover .unhover_img{
  text-decoration-color: red;
  display: none;
}

.member-profile:hover { /* any hover */
	text-decoration: none;
	background-color: none;
}

.member-profile:hover .hover_img {
  text-decoration-color: red;
  display: block;
}

#john-click:click .john-show {
	display: inline !important;
}

/* Social Networks Meta */
#speakers li {display: inline-block; padding: 0 6px; font-size: 18px;}
#speakers li a {color: rgba(0,0,0, 0.3); transition: all 0.1s ease-in;}
#speakers li a:hover {color: rgba(0,0,0, 0.7);}

/* Rows Optimization */

.row1 .col-md-3, {
	padding-bottom: 40px;
}

/* Mobile Devices Optimization */
@media (min-width: 568px) and (max-width: 992px) {

	.row .col-md-3, {
		display: inline-block;
		max-width: 50%;
	}

	#speakers img {max-width: 300px;}

}
